In [14]:
#importing reuired libraries

import pandas as pd
import selenium
from selenium import webdriver

# Task 4

In [524]:
#creating driver object

driver=webdriver.Chrome(r"C:/chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")

In [527]:
Companies=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

In [528]:
len(Companies)

30

In [531]:

Ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [532]:
len(Ratings)

19

In [533]:
Ratings[0].text

'3.8'

In [534]:

DaysPosted=driver.find_elements_by_xpath("//div[@data-test='job-age']")

In [535]:
len(DaysPosted)

30

In [538]:
for i in range(10):
    Companies[i]=Companies[i].text
    Ratings[i]=Ratings[i].text
    DaysPosted[i]=DaysPosted[i].text

In [539]:
DsNoid_df=pd.DataFrame({'Company':Companies[0:10],
                        'Rating':Ratings[0:10],
                        'Days Ago Posted':DaysPosted[0:10]
    
})

In [540]:
#final dataframe
DsNoid_df

                                Company Rating Days Ago Posted
0                        Biz2Credit Inc    3.8            30d+
1                                 Adobe    4.4              3d
2             Unyscape Infocom Pvt. Ltd    4.1             29d
3                             Innovacer    3.8             14d
4                              Techlive    5.0            30d+
5          Salasar New Age Technologies    3.5            30d+
6  Innovaccer Analytics Private Limited    3.5             13d
7                               CRMNEXT    4.4             10d
8                       SearchUrCollege    5.0            30d+
9          Salasar New Age Technologies    3.1            30d+

In [541]:
driver.close()

# TASK 5

In [81]:
 #working
        #creating driver object

driver=webdriver.Chrome(r"C:/chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [82]:
#Searching for data scientist profile
JobProfile=driver.find_element_by_xpath("//input[@id='KeywordSearch']")
JobProfile.send_keys("Data Scientist")

In [83]:
#Searching for Noida Location.
JobProfile=driver.find_element_by_xpath("//input[@id='LocationSearch']")
JobProfile.send_keys("Noida")

In [84]:
#clicking search button through code.
search_btn=driver.find_element_by_xpath("//button[@id='HeroSearchButton']")
search_btn.click()

In [45]:
#extracting company names.
CompanyList=driver.find_elements_by_xpath("//div[@data-test='job-info']")

In [46]:
len(CompanyList)

20

In [47]:
for i in range(10):
    CompanyList[i]=CompanyList[i].text

In [48]:
Companies=[]

In [49]:
Company1=CompanyList[0].split("\n")
Companies[0]=Company1[1]

Company2=CompanyList[1].split("\n")
Companies[1]=Company2[1]

Company3=CompanyList[2].split("\n")
Companies[2]=Company3[1]

Company4=CompanyList[3].split("\n")
Companies[3]=Company4[1]

Company5=CompanyList[4].split("\n")
Companies[4]=Company5[1]

Company6=CompanyList[5].split("\n")
Companies[5]=Company6[1]

Company7=CompanyList[6].split("\n")
Companies[6]=Company7[1]

Company8=CompanyList[7].split("\n")
Companies[7]=Company8[1]

Company9=CompanyList[8].split("\n")
Companies[8]=Company9[1]

Company10=CompanyList[9].split("\n")
Companies[9]=Company10[1]

In [50]:
Companies

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'ZS Associates',
 'EXL Service']

In [51]:

Salaries=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [54]:
Salaries[0].text.replace("\n","")

'₹ 6,01,000 per/yr'

In [53]:
len(Salaries)

20

In [55]:
for i in range(10):
    Salaries[i]=Salaries[i].text.replace("\n","")

In [56]:
Salaries=Salaries[0:10]

In [57]:
Salaries

['₹ 6,01,000/yr',
 '₹ 11,51,207/yr',
 '₹ 12,34,207/yr',
 '₹ 7,63,825/yr',
 '₹ 7,32,209/yr',
 '₹ 13,88,910/yr',
 '₹ 8,18,515/yr',
 '₹ 12,01,403/yr',
 '₹ 10,00,000/yr',
 '₹ 11,90,000/yr']

In [85]:

SalaryRange=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")

In [86]:
len(SalaryRange)

20

In [87]:
SalaryRange[0].text

'₹336L\n₹1,080L'

In [88]:
for i in range(10):
    SalaryRange[i]=SalaryRange[i].text.replace("\n","-")

In [89]:
SalaryRange=SalaryRange[0:10]

In [90]:
SalaryRange

['₹336L-₹1,080L',
 '₹579L-₹2,222L',
 '₹452L-₹11,669L',
 '₹589L-₹2,741L',
 '₹350L-₹1,619L',
 '₹1,050L-₹1,500L',
 '₹504L-₹1,471L',
 '₹623L-₹1,702L',
 '₹203L-₹1,817L',
 '₹578L-₹1,500L']

In [91]:
 DsNoida_df=pd.DataFrame({
                         'Company':Companies,
                         'Salary':Salaries,
                          'Salary Range':SalaryRange})

In [92]:
DsNoida_df

                     Company          Salary     Salary Range
0  Tata Consultancy Services   ₹ 6,01,000/yr    ₹336L-₹1,080L
1                  Accenture  ₹ 11,51,207/yr    ₹579L-₹2,222L
2                  Delhivery  ₹ 12,34,207/yr   ₹452L-₹11,669L
3                        IBM   ₹ 7,63,825/yr    ₹589L-₹2,741L
4         Ericsson-Worldwide   ₹ 7,32,209/yr    ₹350L-₹1,619L
5         UnitedHealth Group  ₹ 13,88,910/yr  ₹1,050L-₹1,500L
6         Valiance Solutions   ₹ 8,18,515/yr    ₹504L-₹1,471L
7                 Innovaccer  ₹ 12,01,403/yr    ₹623L-₹1,702L
8              ZS Associates  ₹ 10,00,000/yr    ₹203L-₹1,817L
9                EXL Service  ₹ 11,90,000/yr    ₹578L-₹1,500L

In [93]:
#closing the driver
driver.close()

# TASK 6

In [116]:
#working
#creating driver object

driver=webdriver.Chrome(r"C:/chromedriver.exe")
driver.get("https://www.flipkart.com")

In [117]:
#Searching for sun glasses
Search=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
Search.send_keys("sunglasses")

In [120]:
#clicking search button through code.
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [121]:
firstPage=driver.find_elements_by_xpath("//div[@class='_2B099V']")

In [122]:
len(firstPage)

40

In [123]:
firstPage[0].text

'VAST\nPolarized, Gradient, UV Protection Rectangular Sunglass...\n₹595₹2,50076% off'

In [124]:
for i in range(40):
    firstPage[i]=firstPage[i].text

In [125]:
#clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_btn.click()

In [126]:
SecondPage=driver.find_elements_by_xpath("//div[@class='_2B099V']")

In [127]:
len(SecondPage)

40

In [128]:
SecondPage[0].text

'Fastrack\nUV Protection Aviator Sunglasses (58)\n₹1,085₹1,29916% off'

In [129]:
for i in range(40):
        SecondPage[i]=SecondPage[i].text

In [135]:
#clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [136]:
ThirdPage=driver.find_elements_by_xpath("//div[@class='_2B099V']")

In [137]:
len(ThirdPage)

40

In [138]:
ThirdPage[0].text

'NuVew\nUV Protection, Mirrored Sports Sunglasses (73)\n₹316₹1,24574% off'

In [139]:
for i in range(40):
    ThirdPage[i]=ThirdPage[i].text

In [140]:
Sunglasses=firstPage+SecondPage+ThirdPage

In [142]:
Sunglases100_df=pd.DataFrame(Sunglasses[i].split("\n") for i in range(100))

In [143]:
Sunglases100_df

,0,1,2,3
0,VAST,"Polarized, Gradient, UV Protection Rectangular...","₹595₹2,50076% off",None
1,CHEMISTRY,Gradient Round Sunglasses (Free Size),"₹420₹2,19980% off",None
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹569₹79928% off,None
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),"₹314₹1,59980% off",None
4,PIRASO,UV Protection Aviator Sunglasses (54),"₹225₹1,59985% off",None
...,...,...,...,...
95,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)","₹459₹1,52569% off",None
96,Crackers,UV Protection Aviator Sunglasses (55),₹189₹99981% off,None
97,PIRASO,UV Protection Aviator Sunglasses (54),"₹197₹1,59987% off",None
98,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹759₹89915% off,None
99,Fastrack,UV Protection Wayfarer Sunglasses (56),₹753₹89916% off,None

In [144]:
#closing the driver
driver.close()

In [361]:
Sunglases100_df['price'] = Sunglases100_df[2].str.split('₹').str.get(1)
Sunglases100_df['discount%'] = Sunglases100_df[2].str.split('₹').str.get(2)

In [362]:
Sunglases100_df.drop([2,3],axis=1,inplace=True)

In [365]:
Sunglases100_df.rename(columns={0:'BRAND',1:'PRODUCT DESCRIPTION'},inplace=True)

In [366]:
#final data frame
Sunglases100_df

,BRAND,PRODUCT DESCRIPTION,price,discount%
BRAND,VAST,"Polarized, Gradient, UV Protection Rectangular...",595,"2,50076% off"
PRODUCT DESCRIPTION,CHEMISTRY,Gradient Round Sunglasses (Free Size),420,"2,19980% off"
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),569,79928% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),314,"1,59980% off"
4,PIRASO,UV Protection Aviator Sunglasses (54),225,"1,59985% off"
...,...,...,...,...
95,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)",459,"1,52569% off"
96,Crackers,UV Protection Aviator Sunglasses (55),189,99981% off
97,PIRASO,UV Protection Aviator Sunglasses (54),197,"1,59987% off"
98,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),759,89915% off
99,Fastrack,UV Protection Wayfarer Sunglasses (56),753,89916% off

# TASK 7

In [250]:
#working.
driver=webdriver.Chrome(r"C:/chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [251]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'

In [252]:
driver.get(url)

In [253]:
Rating=[]
Review_Summary=[]
Full_Review=[]

In [254]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [255]:
rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [256]:
FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [257]:
len(FRvw)

10

In [258]:
rating[0].text

'5'

In [259]:
rvw[0].text

'Brilliant'

In [260]:
FRvw[0].text

'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life'

In [261]:
for i in range(10):
    Rating.append(rating[i].text)
    Review_Summary.append(rvw[i].text)
    Full_Review.append(FRvw[i].text.replace("\n",""))

In [262]:
#clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [263]:
#extracting reviews info from 2nd page
Page2rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page2rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page2FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [264]:
len(Page2rating)

10

In [265]:
#appending values to the list.
for i in range(10):
    Rating.append(Page2rating[i].text)
    Review_Summary.append(Page2rvw[i].text)
    Full_Review.append(Page2FRvw[i].text.replace("\n",""))

In [266]:
#extracting reviews info from 3rd page
Page3rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page3rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page3FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [267]:
for i in range(10):
    Rating.append(Page3rating[i].text)
    Review_Summary.append(Page3rvw[i].text)
    Full_Review.append(Page3FRvw[i].text.replace("\n",""))

In [268]:
#clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [269]:
#extracting reviews info from 4th page
Page4rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page4rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page4FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [270]:
for i in range(10):
    Rating.append(Page4rating[i].text)
    Review_Summary.append(Page4rvw[i].text)
    Full_Review.append(Page4FRvw[i].text.replace("\n",""))

In [273]:
#clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [274]:
#extracting reviews info from 5th page
Page5rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page5rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page5FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [275]:
for i in range(10):
    Rating.append(Page5rating[i].text)
    Review_Summary.append(Page5rvw[i].text)
    Full_Review.append(Page5FRvw[i].text.replace("\n",""))

In [276]:
#going to next page by clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [277]:
#extracting reviews info from 6th page
Page6rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page6rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page6FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [278]:
for i in range(10):   
    Rating.append(Page6rating[i].text)
    Review_Summary.append(Page6rvw[i].text)
    Full_Review.append(Page6FRvw[i].text.replace("\n",""))

In [279]:
#going to next page by clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [280]:
#extracting reviews info from 7th page
Page7rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page7rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page7FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [281]:
for i in range(10):  
    Rating.append(Page7rating[i].text)
    Review_Summary.append(Page7rvw[i].text)
    Full_Review.append(Page7FRvw[i].text.replace("\n",""))

In [282]:
#going to next page by clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [283]:
#extracting reviews info from 8th page
Page8rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page8rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page8FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [284]:
for i in range(10):  
    Rating.append(Page8rating[i].text)
    Review_Summary.append(Page8rvw[i].text)
    Full_Review.append(Page8FRvw[i].text.replace("\n",""))

In [285]:
#going to next page by clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [286]:
#extracting reviews info from 8th page
Page9rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page9rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page9FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [287]:
for i in range(10):  
    Rating.append(Page9rating[i].text)
    Review_Summary.append(Page9rvw[i].text)
    Full_Review.append(Page9FRvw[i].text.replace("\n",""))

In [288]:
#going to next page by clicking Next button through code.
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
            next_btn.click()

In [289]:
#extracting reviews info from 8th page
Page10rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Page10rvw=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Page10FRvw=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [290]:
for i in range(10):
    Rating.append(Page10rating[i].text)
    Review_Summary.append(Page10rvw[i].text)
    Full_Review.append(Page10FRvw[i].text.replace("\n",""))

In [291]:
Iphone100Reviews_df=pd.DataFrame({
                                  'Rating':Rating,
                                  'Review Summary':Review_Summary,
                                  'Full Review':Full_Review
}
)

In [292]:
Iphone100Reviews_df

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,5,Must buy!,It’s an amazing product from apple and the cam...
97,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
98,5,Wonderful,This is my first ever I phone. Before this I w...
99,5,Mind-blowing purchase,This will help you more. See if you are planni...

In [293]:
#closing driver
driver.close()

# TASK 8

In [325]:
#working
#creating driver object

driver=webdriver.Chrome(r"C:/chromedriver.exe")
driver.get("https://www.flipkart.com")

In [326]:
#Searching for Sneakers
Search=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
Search.send_keys("sneakers")

In [327]:
#clicking search button through code.
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [328]:
sneakersPage1=driver.find_elements_by_xpath("//div[@class='_2B099V']")

In [329]:
sneakersPage1[0].text

'Fzzirok\nPremium quality Sneakers For Men\n₹399₹99960% off\nSize 6, 7, 8, 9, 10'

In [330]:
for i in range(40):
    sneakersPage1[i]=sneakersPage1[i].text

In [331]:
#navigating to next page
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
               next_btn.click()

In [332]:
sneakersPage2=driver.find_elements_by_xpath("//div[@class='_2B099V']")

In [333]:
sneakersPage2[0].text

'Chevit\n516 Trendy Star Perfect Sneakers For Men\n₹319₹79960% off'

In [334]:
for i in range(40):
    sneakersPage2[i]=sneakersPage2[i].text

In [335]:
#navigating to 3rd page
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
if next_btn.text=='NEXT':
               next_btn.click()

In [336]:
sneakersPage3=driver.find_elements_by_xpath("//div[@class='_2B099V']")

In [337]:
for i in range(40):
    sneakersPage3[i]=sneakersPage3[i].text

In [338]:
SneakersInfo=sneakersPage1+sneakersPage2+sneakersPage3

In [341]:
SneakersInfo

['Fzzirok\nPremium quality Sneakers For Men\n₹399₹99960% off\nSize 6, 7, 8, 9, 10',
 'PROVOGUE\nSneakers For Men\n₹649₹1,99967% off\nBuy 2 items, save extra 5%',
 'Chevit\nPerfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...\n₹499₹1,79872% off\nSize 6, 7, 8, 9, 10',
 'Chevit\nCombo Pack of 4 Casual Sneakers With Sneakers For Men\n₹474₹1,99676% off',
 'Robbie jones\nCasual Sneakers Shoes For Men Sneakers For Men\n₹379₹99962% off',
 'ORICUM\nCombo pack of 2 casual sneaker shoes for men Sneakers F...\n₹398₹99860% off',
 'aadi\nSneakers For Men\n₹299₹99970% off',
 'Robbie jones\nSneakers For Men\n₹499₹99950% off',
 '"trend"\nFashionable casual sneakers shoes for men Sneakers For ...\n₹479₹3,99988% off',
 'Stefano Rads\nClassy Sneakers For Men\n₹242₹69965% off',
 "Shoes Bank\nWhite Sneaker For Men's/Boy's Sneakers For Men\n₹349₹99965% off",
 'Red Rose\nSneakers For Men\n₹359₹99964% off',
 'Chevit\n171 Smart Tan Lace-Ups Casuals for Men Sneakers For Men\n₹211₹49957% off',
 'oxpeo\nColourblocked Trending Multicolor Ultralight canvas Spo...\n₹419₹99958% off',
 'HOTSTYLE\nSneakers For Men\n₹199₹49960% off',
 'Echor\nshoes for boys Sneakers For Men\n₹570₹99942% off',
 'HOTSTYLE\nSneakers Sneakers For Men\n₹283₹49943% off',
 'Numenzo\nSneakers For Men\n₹649₹99935% off',
 'believe\nSneakers for men(black_6) Sneakers For Men\n₹446₹99955% off',
 'bluemaker\ncasual for men (blue 08) Sneakers For Men\n₹499₹99950% off',
 'India hub\nFashionable casual sneakers shoes Sneakers For Men\n₹699₹1,99965% off',
 "Birde\nMen's Stylish Casual Shoes Sneakers For Men\n₹299₹49940% off",
 "restinfoot\nCasual shoes,Sneakers for men's,shoes for men's Sneaker...\n₹360₹99963% off",
 'DUCATI\nSneakers For Men\n₹1,449₹3,59959% off\nBuy 2 items, save extra 5%',
 'Red Rose\nSneakers For Men\n₹359₹49928% off',
 'Chevit\n168 Smart Red Lace-Ups Casuals for Men Sneakers For Men\n₹211₹49957% off',
 'SPARX\nSM-322 Sneakers For Men\n₹769₹99923% off',
 'Magnolia\nWhite Sneakers Sneakers For Men\n₹341₹99965% off',
 'T-ROCK\nSynthetic Leather Casual Partywear Wedding Sneakers Sho...\n₹366₹99963% off',
 'Kizaar\nFashionable Casual, Canvas,official or Partywear Sneake...\n₹399₹99960% off\nBuy 2 items, save extra 5%',
 'ROCKFIELD\nSneakers For Men\n₹341₹99965% off',
 'Robbie jones\nCasual Sneakers Shoes For Men Sneakers For Men\n₹499₹99950% off',
 'Imcolus\nSneakers For Men\n₹464₹99953% off',
 'Chevit\nSpeed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...\n₹759₹2,49569% off',
 'VORII\nLatest Stylish Casual sneakers for men | Lace up lightw...\n₹399₹99960% off',
 'Echor\nHHM Sneakers For Men\n₹570₹99942% off',
 'SCATCHITE\nSneakers Sneakers For Men\n₹398₹99960% off',
 'TR\nSneakers For Men\n₹569₹1,99971% off',
 'Chevit\nSmart Casuals Canvas Shoes Combo pack of 2 Sneakers For...\n₹322₹99867% off',
 'DUCATI\nSneakers For Men\n₹1,449₹3,59959% off',
 'Chevit\n516 Trendy Star Perfect Sneakers For Men\n₹319₹79960% off',
 'Zsyto\nSneakers For Men\n₹298₹1,29977% off',
 'Edoeviv\nSneakers For Men  (White 8) Sneakers For Men\n₹464₹79941% off',
 'Fzzirok\nPremium quality Sneakers For Men\n₹399₹99960% off',
 'Jabra\nSneakers For Men\n₹455₹99954% off',
 'bluemaker\ncasual for men (blue 06) Sneakers For Men\n₹499₹99950% off',
 "D-SNEAKERZ\nCasual , Partywear Sneakers Shoes For Men's And Boys Wh...\n₹367₹65944% off",
 '"trend"\nCasual sneakers shoes for men Sneakers For Men\n₹479₹3,99988% off',
 'Chevit\n170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...\n₹211₹49957% off',
 'French Connection\nSneakers For Men\n₹799₹1,99960% off\nBuy 2 items, save extra 5%',
 'HOTSTYLE\nSneakers Sneakers For Men\n₹283₹49943% off',
 'World Wear Footwear\n5011-Latest Collection Stylish Casual Loafer Sneakers S...\n₹240₹49951% off',
 'TR\nSneakers For Men\n₹312₹99968% off',
 'PROVOGUE\nSneakers For Men\n₹649₹1,99967% off\nBuy 2 items, save extra 5%',
 'Fzzirok\nPremium quality Sneakers For Men\n₹399₹99960% off',
 'ASTEROID\nFeather Print New Spring Season White Shoes Men Running...\n₹346₹99965% off',
 'Extoes\nModern Trendy Shoes Combo pack of 4 Sneakers For Men\n₹798₹1,49746% off',
 'Wika\nSneakers For Men\n₹449₹99955% off',
 'Axter\nCombo Pack of 2 Casual Loafer Sneakers Shoes Sneakers F...\n₹379₹99862% off',
 'oxpeo\nColourblocked Trending Multicolor Ultralight canvas Spo...\n₹419₹99958% off',
 'Chevit\nSuper 445 Fashion Sneakers For Men\n₹348₹49930% off',
 'ROCKFIELD\nSneakers For Men\n₹341₹99965% off',
 'Chevit\nSpeed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...\n₹759₹2,49569% off',
 'DUCATI\nSneakers For Men\n₹1,449₹3,59959% off\nBuy 2 items, save extra 5%',
 'World Wear Footwear\nCombo Pack of 4 Latest Collection Stylish Casual Loafer...\n₹474₹1,99676% off',
 'Kraasa\nCasuals, Canvas, Partywear Sneakers For Men\n₹471₹99952% off',
 'Axter\nCombo Pack of 2 Latest Collection Stylish Casual Loafer...\n₹299₹99870% off',
 'Zorth\nSneakers For Men\n₹612₹99938% off',
 'SWIGGY\nCasual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...\n₹759₹2,49569% off',
 'bluemaker\ncasual for men (blue 08) Sneakers For Men\n₹499₹99950% off',
 'well feet\nsneaker for mens and boys Sneakers For Men\n₹399₹59933% off',
 'Numenzo\nCasual Sneaker Sneakers For Men\n₹539₹99946% off',
 'LEATHERKRAFT\nSneakers For Men\n₹299₹99970% off',
 'PROVOGUE\nPRO-NP-AW08 Sneakers For Men\n₹599₹2,09971% off\nBuy 2 items, save extra 5%',
 'SHOEFLY\nCombo Men Pack of 2 Loafers Shoes Sneakers For Men\n₹299₹99870% off',
 'Chevit\n169 Smart Sky Blue Lace-Ups Casuals for Men Sneakers Fo...\n₹211₹49957% off',
 'ESSENCE\n7 Lace Sneakers For Men\n₹424₹99957% off',
 'SHOEFLY\nCombo Men Pack of 2 Loafers Shoes Sneakers For Men\n₹343₹99865% off',
 'Bonexy\nSneakers For Men\n₹383₹99961% off',
 'DUCATI\nSneakers For Men\n₹1,449₹3,59959% off',
 'Chevit\n516 Trendy Star Perfect Sneakers For Men\n₹319₹79960% off',
 'Zsyto\nSneakers For Men\n₹298₹1,29977% off',
 'Edoeviv\nSneakers For Men  (White 8) Sneakers For Men\n₹464₹79941% off',
 'Fzzirok\nPremium quality Sneakers For Men\n₹399₹99960% off',
 'Jabra\nSneakers For Men\n₹455₹99954% off',
 'bluemaker\ncasual for men (blue 06) Sneakers For Men\n₹499₹99950% off',
 "D-SNEAKERZ\nCasual , Partywear Sneakers Shoes For Men's And Boys Wh...\n₹367₹65944% off",
 '"trend"\nCasual sneakers shoes for men Sneakers For Men\n₹479₹3,99988% off',
 'Chevit\n170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...\n₹211₹49957% off',
 'French Connection\nSneakers For Men\n₹799₹1,99960% off\nBuy 2 items, save extra 5%',
 'HOTSTYLE\nSneakers Sneakers For Men\n₹283₹49943% off',
 'World Wear Footwear\n5011-Latest Collection Stylish Casual Loafer Sneakers S...\n₹240₹49951% off',
 'TR\nSneakers For Men\n₹312₹99968% off',
 'PROVOGUE\nSneakers For Men\n₹649₹1,99967% off\nBuy 2 items, save extra 5%',
 'Fzzirok\nPremium quality Sneakers For Men\n₹399₹99960% off',
 'ASTEROID\nFeather Print New Spring Season White Shoes Men Running...\n₹346₹99965% off',
 'Extoes\nModern Trendy Shoes Combo pack of 4 Sneakers For Men\n₹798₹1,49746% off',
 'Wika\nSneakers For Men\n₹449₹99955% off',
 'Axter\nCombo Pack of 2 Casual Loafer Sneakers Shoes Sneakers F...\n₹379₹99862% off',
 'oxpeo\nColourblocked Trending Multicolor Ultralight canvas Spo...\n₹419₹99958% off',
 'Chevit\nSuper 445 Fashion Sneakers For Men\n₹348₹49930% off',
 'ROCKFIELD\nSneakers For Men\n₹341₹99965% off',
 'Chevit\nSpeed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...\n₹759₹2,49569% off',
 'DUCATI\nSneakers For Men\n₹1,449₹3,59959% off\nBuy 2 items, save extra 5%',
 'World Wear Footwear\nCombo Pack of 4 Latest Collection Stylish Casual Loafer...\n₹474₹1,99676% off',
 'Kraasa\nCasuals, Canvas, Partywear Sneakers For Men\n₹471₹99952% off',
 'Axter\nCombo Pack of 2 Latest Collection Stylish Casual Loafer...\n₹299₹99870% off',
 'Zorth\nSneakers For Men\n₹612₹99938% off',
 'SWIGGY\nCasual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...\n₹759₹2,49569% off',
 'bluemaker\ncasual for men (blue 08) Sneakers For Men\n₹499₹99950% off',
 'well feet\nsneaker for mens and boys Sneakers For Men\n₹399₹59933% off',
 'Numenzo\nCasual Sneaker Sneakers For Men\n₹539₹99946% off',
 'LEATHERKRAFT\nSneakers For Men\n₹299₹99970% off',
 'PROVOGUE\nPRO-NP-AW08 Sneakers For Men\n₹599₹2,09971% off\nBuy 2 items, save extra 5%',
 'SHOEFLY\nCombo Men Pack of 2 Loafers Shoes Sneakers For Men\n₹299₹99870% off',
 'Chevit\n169 Smart Sky Blue Lace-Ups Casuals for Men Sneakers Fo...\n₹211₹49957% off',
 'ESSENCE\n7 Lace Sneakers For Men\n₹424₹99957% off',
 'SHOEFLY\nCombo Men Pack of 2 Loafers Shoes Sneakers For Men\n₹343₹99865% off',
 'Bonexy\nSneakers For Men\n₹383₹99961% off',
 'DUCATI\nSneakers For Men\n₹1,449₹3,59959% off']

In [342]:
Sneakers_df=pd.DataFrame(SneakersInfo[i].split("\n") for i in range(100))

In [343]:
Sneakers_df

,0,1,2,3
0,Fzzirok,Premium quality Sneakers For Men,₹399₹99960% off,"Size 6, 7, 8, 9, 10"
1,PROVOGUE,Sneakers For Men,"₹649₹1,99967% off","Buy 2 items, save extra 5%"
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,"₹499₹1,79872% off","Size 6, 7, 8, 9, 10"
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,"₹474₹1,99676% off",None
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379₹99962% off,None
...,...,...,...,...
95,ASTEROID,Feather Print New Spring Season White Shoes Me...,₹346₹99965% off,None
96,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,"₹798₹1,49746% off",None
97,Wika,Sneakers For Men,₹449₹99955% off,None
98,Axter,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,₹379₹99862% off,None
99,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹419₹99958% off,None

In [353]:
Sneakers_df['price'] = Sneakers_df[2].str.split('₹').str.get(1)

In [355]:
Sneakers_df['discount'] = Sneakers_df[2].str.split('₹').str.get(2)

In [543]:
Sneakers_df.drop([2,3],axis=1,inplace=True)

In [367]:
#renaming columns
Sneakers_df.rename(columns={0:'BRAND',1:'PRODUCT DESCRIPTION'},inplace=True)

In [368]:
#FINAL data frame

In [544]:
Sneakers_df

,BRAND,PRODUCT DESCRIPTION,price,discount
0,Fzzirok,Premium quality Sneakers For Men,399,99960% off
1,PROVOGUE,Sneakers For Men,649,"1,99967% off"
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,499,"1,79872% off"
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,474,"1,99676% off"
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,379,99962% off
...,...,...,...,...
95,ASTEROID,Feather Print New Spring Season White Shoes Me...,346,99965% off
96,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,798,"1,49746% off"
97,Wika,Sneakers For Men,449,99955% off
98,Axter,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,379,99862% off
99,oxpeo,Colourblocked Trending Multicolor Ultralight c...,419,99958% off

In [371]:
#CLOSING DRIVER

driver.close()

# TASK 9

In [421]:
#working
#creating driver object

driver=webdriver.Chrome(r"C:/chromedriver.exe")

In [422]:
driver.get("https://www.myntra.com/shoes")

In [ ]:
#choosing price range checkbox.
driver.find_element_by_xpath(".//*[contains(text(),'Rs. 6649to Rs. 13099')]").click()

In [ ]:
#choosing black color check box

driver.find_element_by_xpath("//label[@data-count='789']").click()

In [428]:
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6567.0_13045.0_6567.0%20TO%2013045.0%2C6657.0_13105.0_6657.0%20TO%2013105.0'

In [429]:
driver.get(url)

In [430]:
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [431]:
len(brand)

50

In [432]:
descr=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [433]:
price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [434]:
brand[0].text

'Puma'

In [435]:
for i in range(50):
    brand[i]=brand[i].text
    descr[i]=descr[i].text
    price[i]=price[i].text

In [436]:
#NAvigating to next page by clicking next button
next_btn=driver.find_element_by_xpath("//li[@class='pagination-next']")
if next_btn.text=='Next':
            next_btn.click()

In [437]:
brand_rest=driver.find_elements_by_xpath("//h3[@class='product-brand']")
descr_rest=driver.find_elements_by_xpath("//h4[@class='product-product']")
prices=driver.find_elements_by_xpath("//div[@class='product-price']")

In [438]:
brand_rest[0].text

'Clarks'

In [439]:
len(brand_rest)

50

In [440]:
for i in range(50):
    brand_rest[i]=brand_rest[i].text
    descr_rest[i]=descr_rest[i].text
    prices[i]=prices[i].text

In [441]:
#empty lists to store all 100 records.
brands=brand+brand_rest
shortDesc=descr+descr_rest
ShoePrice=price+prices

In [442]:
MyntraShoes_df=pd.DataFrame({
    'BRAND':brands,
    'SHORT SHOE DESCRIPTION':shortDesc,
    'PRICE OF SHOE':ShoePrice
})

In [443]:
MyntraShoes_df

,BRAND,SHORT SHOE DESCRIPTION,PRICE OF SHOE
0,Puma,Men Fuse Training Sports Shoes,Rs. 7999
1,Nike,Men REACT MILER Running Shoes,Rs. 9345Rs. 10995(15% OFF)
2,Nike,Women Running Shoes,Rs. 7796Rs. 11995(35% OFF)
3,Nike,Men AIR ZOOM Running Shoes,Rs. 11470Rs. 13495(15% OFF)
4,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
...,...,...,...
95,Puma,Men IGNITE Dual Running Shoes,Rs. 6999
96,Puma,Men IGNITE Ronin Unrest,Rs. 6999
97,Geox,Women Leather Pumps,Rs. 9999
98,Hush Puppies,Men Leather Derbys,Rs. 7999
99,Ruosh,Men Solid Leather Formal Derbys,Rs. 8990

In [444]:
#closing driver.
driver.close()

# TASK 10

In [445]:
#working
#creating driver object

driver=webdriver.Chrome(r"C:/chromedriver.exe")

In [446]:
driver.get("https://www.amazon.in/")

In [449]:
#Searching for laptop
Search=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
Search.send_keys("Laptop")

In [450]:
#clicking search button through code.
search_btn=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [451]:
#choosing intel icore 7 and intel icore9 range checkbox.
driver.find_element_by_xpath(".//*[contains(text(),'Intel Core i7')]").click()

In [452]:
driver.find_element_by_xpath(".//*[contains(text(),'Intel Core i9')]").click()

In [453]:
url='https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1617287422&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17'

In [454]:
driver.get(url)

In [455]:
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

In [456]:
len(title)

25

In [458]:
title[1].text

'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum'

In [501]:
titles=[]

In [502]:
for i in range(1,11):
    titles.append(title[i].text)

In [495]:
ratings=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")

In [496]:
len(ratings)

18

In [497]:
ratings[0].text

'27'

In [503]:
rating=[]

In [504]:
for i in range(10):
    rating.append(ratings[i].text)

In [486]:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [487]:
len(price)

25

In [498]:
price[1].text

'5,22,077'

In [512]:
prices_l=[]

In [513]:
for i in range(1,11):
    prices_l.append(price[i].text)

In [507]:
rating

['27', '14', '3', '3', '588', '101', '54', '312', '1', '38']

In [514]:
prices_l

['5,22,077',
 '1,98,590',
 '75,993',
 '2,77,390',
 '53,974',
 '78,990',
 '1,35,490',
 '66,740',
 '75,990',
 '45,990']

In [509]:
titles

['ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 inch FHD Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/4GB NVIDIA GTX 1650/Black/2.3Kg), 81SY00SUIN',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 'Dell Inspiron 5370 13.3-inch FHD Laptop (Core i7- 8550 U/8GB/256GB/Windows 10 with Ms Office Home & Student 2016/2GB Graphics)',
 '(Renewed) Dell Inspiron 5501 15.6 Inch FHD Laptop (10th Gen i7-1065G7/8 GB/512 SSD/2 GB Nvidia Graphics/Win 10 + MS Office H&S 2019/Silver) D560213WIN9S',
 '(Renewed) DELL Latitude E7270 12.5-inch Touch Screen Laptop (6th Gen Intel Core i7/8GB/512GB SSD/Windows 10/Intel HD Graphics 520), Black']

In [515]:
Laptop_df=pd.DataFrame({'Title':titles,
                        'Price':prices_l,
                        'Ratings':rating
    
})

In [516]:
#final data frame
Laptop_df

                                               Title     Price Ratings
0  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  5,22,077      27
1  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...  1,98,590      14
2  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    75,993       3
3  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,77,390       3
4  Mi Notebook Horizon Edition 14 Intel Core i5-1...    53,974     588
5  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...    78,990     101
6  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  1,35,490      54
7  Dell Inspiron 5370 13.3-inch FHD Laptop (Core ...    66,740     312
8  (Renewed) Dell Inspiron 5501 15.6 Inch FHD Lap...    75,990       1
9  (Renewed) DELL Latitude E7270 12.5-inch Touch ...    45,990      38

In [518]:
driver.close()